@htmlfs: 20px;

html {
  font-size: @htmlfs;
}

.box {
  font-size: (36rem / @htmlfs);
  width: (60rem / @htmlfs);
  background-color: #666 - #444;
  color: white;
  border: 0.05 * @htmlfs solid red;
}